<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="col-md-2">
            <form method="post" action="/">
                <div class="form-group" style="margin: 10;">
                    <input type="text" class="form-control" id="user-name" placeholder="Enter username" name="userName">
                </div>
                <div class="form-group" style="margin: 10;">
                    <input type="text" class="form-control" id="price" placeholder="Enter price" name="price">
                </div>
                <button type="submit" class="btn btn-primary" style="margin: 10;">Add</button>
            </form>
        </div>
    </body>
</html>